*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --dark-color: #191919;
    --white-color:#ffffff;
    --purple-color: rgb(117, 41, 149);
    --purplelight-color: rgb(169, 83, 206);
    --aqua-color: aqua;
    --gray-color: gray;
    --ligh-color: #F3F3F3;
}

body {
    font-family: 'Poppins', sans-serif;
    
}

header p a{
    text-decoration: none;
    color: rgb(139, 0, 139);
}

header .row{
    padding: 1rem 1.5rem;
    
}


.header-logo img{
    width: 300px;
}

span{
    line-height: 15px;
    padding: 0.5rem;
}

span i{
    margin-left: 0.5rem;
    font-size: 20px;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header img{
    width: 60px;
    border-radius: 50px;
    border: 3px solid rgb(139, 0, 139);
}

.header{
    color: rgb(139, 0, 139);
    display: flex;
    align-items: center;
}

header a i{
    font-size: 20px;
    
}

header p{
    color: black;
    text-align: center;
}

main{
    display: flex;
    margin-top: 1rem;
}

.sidebar{
    flex-basis: 50%;
}

.sidebar{
    flex-basis: 30%;
    background-color: rgb(19, 18, 18);
    height: 468px;
    color: white;
}

.sidebar ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.sidebar a{
    color: white;
    text-decoration: none;
    padding: 1rem;
    display: block;
    text-align: left;
}

.sidebar a:hover{
    background-color: purple;
    border-left: 3px solid white;
    padding-left: 50px;
    transition: all 1s;
    color: black;
    width: 300px;
}

.sidebar i{
    margin-right: 0.5rem;
}

.content{
    padding: 1rem;
    flex-basis: 80%;
    text-align: justify;
}

.row input{
    width: 800px;
}

.container{
    place-items: center;
    padding: 2rem;
}

.linea1{
    margin-bottom: 1rem;
}

.linea1 h1{
    padding: 0 10rem;
    display: flex;
    align-items: center;
}

.linea1 a{
    text-decoration: none;
    text-align: center;
    background-color: rgb(117, 41, 149);
    height: 50px;
    display: flex;
    align-items: center;
    margin-top: 3rem;
    padding: 0 1rem;
    color: white;
    border-radius: 5px;
}

.linea1 img{
    border-radius: 50%;
    border: 5px solid rgb(117, 41, 149);
    width: 10%;
}

.linea2{
    margin-bottom: 1rem;
}

.linea2 a{
    text-decoration: none;
    background-color: rgb(117, 41, 149);
    width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.5rem;
    padding: 0 0.5rem;
    color: white;
    border-radius: 5px;
}

.linea2 .form-control{
    padding: 1rem;
    font-size: 15px;
}

table{
    width: 1100px;
}

tbody img{
    padding-left: 28px;
}







/* :::::::::::::::::::::::::::::::::::::::::::: RESPONSIVE: tableta ::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
@media screen and (max-width:768px) {
    .row{flex-direction: column;}
}

/* :::::::::::::::::::::::::::::::::::::::::::: RESPONSIVE: medio ::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
@media screen and (min-width:768px) {
    .row{flex-direction: row;}
}

/* :::::::::::::::::::::::::::::::::::::::::::: RESPONSIVE: medio ::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
@media screen and (min-width:1024px) {
    .row{flex-direction: row;}
}
/* :::::::::::::::::::::::::::::::::::::::::::: RESPONSIVE: medio ::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
@media screen and (min-width:1200px) {
    .row{flex-direction: row;}
}
